Dear <%= @order.name %>
<h3>Pragmatic Order received</h3>
<p>
This is just to let you know that u've received your recent order:
</p>
<table>
<tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @order.line_items -%>
</table>

